{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <style>
        .required-star {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="p-5 mx-auto" style="max-width: 600px; background: transparent; box-shadow: none;">
        <h3 class="text-center mb-3">Se Connecter</h3>

        {% if error %}
            <div class="alert alert-danger text-center">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <p class="text-center mb-3">Nouveau sur le site ?
            <a href="{{ path('app_registration') }}" style="color:black">S'inscrire</a>
        </p>

        <form method="post">
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email
                    <span class="required-star">*</span>
                </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                       class="form-control" autocomplete="email" placeholder="Entrez votre email"
                       style="border-color: black; border-width: 2px" required autofocus>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Mot de passe
                    <span class="required-star">*</span>
                </label>
                <input type="password" name="password" id="inputPassword"
                       class="form-control" autocomplete="current-password"
                       placeholder="Entrez votre mot de passe"
                       style="border-color: black; border-width: 2px" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="text-center">
                <button class="btn btn-danger btn-lg" type="submit">
                    Connexion
                </button>
            </div>
        </form>

    </div>
{% endblock %}
