{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <style>
        .required-star {
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Inscription</h2>
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.submit) }}

    {{ form_end(form) }}
{% endblock %}
