{% extends 'base.html.twig' %}

{% block title %}Services - Coupes Femme{% endblock %}

{% block stylesheets %}
    <style>
        .card-img-top {
            height: 100px;
            object-fit: contain;
            margin: 13px 0;
        }

        .card {
            display: flex;
            flex-direction: column;
            height: 320px;
        }

        .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container my-5">

        <div class="row justify-content-center">

            <h2 class="text-center text-danger mb-4">Coupes Femme</h2>
            {% for coupe in coupes_femmes %}
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <img src="{{ asset('img/' ~ coupe.photo) }}" class="card-img-top" alt="Coupe {{ coupe.name }}"> 
                    <div class="card shadow-sm d-flex flex-column">
                        <div class="card-body d-flex flex-column text-start text-wrap">
                            <h5 class="card-title text-center">Coupe Femme - <br> {{ coupe.name }}</h5>
                            <p class="card-text">{{ coupe.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted mb-0">
                                <i class="bi bi-clock"></i> {{ coupe.duration }} min
                            </p>
                            <p class="fw-bold mb-0">
                                <i class="bi bi-tag"></i> {{ coupe.price }} €
                            </p>
                            <a class="btn btn-danger" href="{{ path('app_reservations') }}">Réserver</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <h2 class="text-center text-danger mb-4">Coupes Homme</h2>
            {% for coupe in coupes_hommes %}
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <img src="{{ asset('img/' ~ coupe.photo) }}" class="card-img-top" alt="Coupe {{ coupe.name }}">
                    <div class="card shadow-sm d-flex flex-column">
                        <div class="card-body d-flex flex-column text-start text-wrap">
                            <h5 class="card-title text-center">Coupe Homme - <br> {{ coupe.name }}</h5>
                            <p class="card-text">{{ coupe.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted mb-0">
                                <i class="bi bi-clock"></i> {{ coupe.duration }} min
                            </p>
                            <p class="fw-bold mb-0">
                                <i class="bi bi-tag"></i> {{ coupe.price }} €
                            </p>
                            <a class="btn btn-danger" href="{{ path('app_reservations') }}">Réserver</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}